/* Source: https://piccalil.li/blog/a-modern-css-reset/ */
/* Source: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* Source: https://tailwindcss.com/docs/preflight */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #__nuxt, #__layout {
  height: 100vh;
  min-width: fit-content;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

ul, li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

#__nuxt, #__layout {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}