
:root {
  --ff-heading: 'Heebo', Arial, Helvetica, sans-serif;
  --ff-content: 'Tajawal', Arial, Helvetica, sans-serif;
  --ff-icons: 'Material Icons', Arial, Helvetica, sans-serif; 

  --color-main: hsl(360, 85%, 45%);
  --color-accent: hsl(225, 71%, 45%);

  --color-gray-100: hsl(210, 20%, 98%);
  --color-gray-200: hsl(220, 14%, 96%);
  --color-gray-300: hsl(220, 13%, 91%);
  --color-gray-400: hsl(216, 12%, 84%);
  --color-gray-500: hsl(218, 11%, 65%);
  --color-gray-600: hsl(220, 9%, 46%);
  --color-gray-700: hsl(217, 19%, 27%);
  --color-gray-800: hsl(215, 28%, 17%);
  --color-gray-900: hsl(221, 39%, 11%);

  --color-red-100: hsl(0, 93%, 94%);
  --color-red-200: hsl(0, 96%, 89%);
  --color-red-300: hsl(0, 94%, 82%);
  --color-red-400: hsl(0, 91%, 71%);
  --color-red-500: hsl(0, 84%, 60%);
  --color-red-600: hsl(0, 72%, 51%);
  --color-red-700: hsl(0, 74%, 42%);
  --color-red-800: hsl(0, 70%, 35%);
  --color-red-900: hsl(0, 63%, 31%);

  --color-green-100: hsl(152, 81%, 96%);
  --color-green-200: hsl(149, 80%, 90%);
  --color-green-300: hsl(152, 76%, 80%);
  --color-green-400: hsl(156, 72%, 67%);
  --color-green-500: hsl(158, 64%, 52%);
  --color-green-600: hsl(160, 84%, 39%);
  --color-green-700: hsl(161, 94%, 30%);
  --color-green-800: hsl(163, 94%, 24%);
  --color-green-900: hsl(163, 88%, 20%);

  --border-100: 20px;
  
  --text-900: 36px; 
  --text-800: 32px; 
  --text-700: 28px; 
  --text-600: 26px; 
  --text-500: 23px; 
  --text-400: 20px;
  --text-300: 18px;
  --text-200: 16px;
  --text-100: 14px;

  --space-100: 4px;
  --space-200: 8px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 24px;
  --space-600: 32px;
  --space-700: 48px;
  --space-800: 64px;
  --space-900: 96px;

  --shadow-100: 0 1px 3px hsla(221, 39%, 11%, .12), 0 1px 2px hsla(221, 39%, 11%, .24);
  --shadow-200: 0 3px 6px hsla(221, 39%, 11%, .15), 0 2px 4px hsla(221, 39%, 11%, .12); 
  --shadow-300: 0 10px 20px hsla(221, 39%, 11%, .15), 0 3px 6px hsla(221, 39%, 11%, .10);
  --shadow-400: 0 15px 25px hsla(221, 39%, 11%, .15), 0 5px 10px hsla(221, 39%, 11%, .5);
  --shadow-500: 0 20px 40px hsla(221, 39%, 11%, .5);

  --shadow-inner-500: inset 0 20px 40px hsla(221, 39%, 11%, .5);
  --shadow-inner-400: inset 0 15px 25px hsla(221, 39%, 11%, .15), inset 0 5px 10px hsla(221, 39%, 11%, .5);
  --shadow-inner-300: inset 0 10px 20px hsla(221, 39%, 11%, .15), inset 0 3px 6px hsla(221, 39%, 11%, .10);
  --shadow-inner-200: inset 0 3px 6px hsla(221, 39%, 11%, .15), inset 0 2px 4px hsla(221, 39%, 11%, .12); 
  --shadow-inner-100: inset 0 1px 3px hsla(221, 39%, 11%, .12), inset 0 1px 2px hsla(221, 39%, 11%, .24);
}

@media (max-width: 600px) {

  :root {
    --ff-content: Arial, Helvetica, sans-serif;
    // : sans-serif;
  }
  
}
