
.button {
  // Font
  font-size: var(--text-200);
  line-height: 1.5rem;

  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  
  // Spacing
  padding: var(--space-200) var(--space-500);
  
  // Border
  border: none;
  border-radius: 20px;
  
  // Colors
  background-color: var(--color-gray-100);
  box-shadow: var(--shadow-100);
  
  // Other
  cursor: pointer;
  
  // Transitions
  transition: color 300ms ease, box-shadow 300ms ease;
  
  
}

.button:hover {
  box-shadow: var(--shadow-200);
}

.button:focus {
  outline: 3px solid var(--clr-gray-500);
  outline-offset: var(--space-200);
}

/* ----- Sizes ----- */

.button[small] {
  text-transform: none;
  padding: var(--space-100) var(--space-300);
}

.button[small]:focus {
  text-transform: none;
  outline-width: 1px;
  padding: var(--space-100) var(--space-300);
}

/* ----- States ----- */

/* --- Disabled --- */

.button[disabled] {
  background-color: var(--clr-gray-200);
  color: var(--clr-gray-500);
  box-shadow: var(--shadow-100);
  cursor: initial;
}

/* --- Error --- */

.button[error] {
  background-color: var(--clr-red-200);
  color: var(--clr-red-900);
}

/* --- Success --- */

.button[success] {
  background-color: var(--clr-green-100);
  color: var(--clr-green-900);
}
