
.text-100 {
  font-size: var(--text-200);
  line-height: 1.5rem;
}

.title {
  font-family: var(--ff-heading);
  font-size: var(--text-900);
  font-weight: 700;
  letter-spacing: .02em;
}

.subtitle {
  font-family: var(--ff-heading);
  font-size: var(--text-700);
  font-weight: 400;
}