
.flex {
  --flex-gap: var(--space-200);
  
  display: flex;
  gap: var(--flex-gap);
}

.flex-column {
  flex-direction: column;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}