// Base configuration. Vars and stuff...
@import './config';

// Reset default styles
@import './reset';

// Base styles

body {
  font-family: var(--ff-content);
  font-size: var(--text-200);
  letter-spacing: .05em;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}


// Composition
@import './composition/stack.scss';

// Utilities
@import './utils/center.scss';
@import './utils/hidden.scss';
@import './utils/flex.scss';

// Design
@import './design/icons.scss';
@import './design/color.scss';
@import './design/text.scss';

// Blocks
@import './blocks/link.scss';
@import './blocks/card.scss';

// Transitions
@import './transitions/index.scss';